html,body{
	height:100%;
}

/*----------------------------------------------------- Menu latéral ----------------------------------*/

/* Icone 3 barres */
.sidenav-trigger{
	color:white !important;
}

/* Titre du site dans le menu latéral */
#titre_site_menu{
	font-size: 20px;
	font-weight: bold;
}

#titre_site_menu:hover{
	background-color:white !important;
}

/* Menu déroulant "Civilisations" */
#civilisations_menu{
	padding-left: 8px !important;
}

/* Icone flèche menu déroulant "Civilisations" */
#civilisations_menu > i{
	margin-right: 0px;
}

/* Liens des civilisations dans le menu déroulant */
.lien_civilisation_menu{
	padding-left:75px !important;
}


/*-------------------------------------------------------- Page d'accueil -----------------------------------------*/

/* Header de la page */
#div_accueil_header{
	height:10%;
	margin:0;
	/* background-color: #e0e0e0; */
	background-image: linear-gradient(to left, #ffd54f, #ffc107, #ffca28);
}

#div_accueil_header>div{
	margin-left:0;
}

/* Titre site */
#div_titre_header{
	height:100%;
}

#div_titre_header a {
	top: 1%;
	position: absolute;
}

#titre_header{
	height:100%;
	margin:0;
}

#titre_header a{
	font-family: 'Montserrat', sans-serif;
	color: #272727;
	font-size:30px;
	font-weight:900;
	/* text-shadow: 3px 3px 3px rgba(0,0,0,0.2); */
}

/* Corps de la page */
#div_accueil_content{
	height:90%;
	margin:0;
}

/*********************** Bloc jaune (civilisations) **************************/
#col_civilisations{
	height:100%;
	background-color:#ffe082;	
	text-shadow: 3px 3px 3px #ffc107;
	transition:background-color 0.75s, text-shadow 0.75s;
}

#col_civilisations:hover{
	cursor:pointer;
	background-color:#ffc107;
	text-shadow: 0 0; 
}

/* Bloc bleu (maps) */
#col_maps{
	height:100%;
	background-color:#80cbc4;
	text-shadow: 3px 3px 3px #009688;
	transition:background-color 0.75s, text-shadow 0.75s;
}

#col_maps:hover{
	cursor:pointer;
	background-color:#009688;
	text-shadow: 0 0;
}

/* Texte (liens) dans les blocs */
.liens_page_accueil{
	width:100%;
	font-size:40px;
	color:white;
	font-weight:bold;
}

/*------------------------------------------------------ Page civilisation ------------------------------*/


/* Div globale des 5 civilisations */
#div_liste_civilisations{
	height:90%;
	margin:0;
	background-color: whitesmoke;
	overflow: hidden;
	
}

/* Div perso de chaque civilisation */
#div_liste_civilisations div{
	height: 100%;
	margin: 0;
	width: 20%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#div_liste_civilisations div:hover{
	cursor:pointer;
	box-shadow: 10px 0px 80px -17px rgba(0,0,0,0.95);
}

#div_liste_civilisations div:hover a{
	color: #ffc107;
	text-shadow: 1px 1px 35px black; 
}

#div_liste_civilisations div a{
	color : #ffc107;
	transition: 0.5s;
}

#div_liste_civilisations p{
	color : black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700 !important;
	position: relative;
	bottom: -90%;
}

/* Bloc marron (grecs) */
#row_grecs{
	background-image: linear-gradient(to top, white, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)),
	url(../images/accueil_civilisation/grecs.jpg);
	transition: 0.7s;
}

#row_grecs:hover{
	background-image: url(../images/accueil_civilisation/grecs.jpg);
}

/* Bloc jaune (egyptiens) */
#row_egyptiens{
	background-image: linear-gradient(to top, white, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), 
	url(../images/accueil_civilisation/egyptiens.jpg);
	transition: 0.25s;
}

#row_egyptiens:hover{
	background-image: url(../images/accueil_civilisation/egyptiens.jpg);
}

/* Bloc bleu (scandinaves)  */
#row_scandinaves{
	background-image: linear-gradient(to top, white, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)),
	url(../images/accueil_civilisation/scandinaves.jpg);
	transition: 0.25s;
}

#row_scandinaves:hover{
	background-image: url(../images/accueil_civilisation/scandinaves.jpg);
}

/* Bloc rouge (atlanteens) */
#row_atlanteens{
	background-image: linear-gradient(to top, white , rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)),
	url(../images/accueil_civilisation/atlanteens.jpg);
	transition: 0.25s;
}

#row_atlanteens:hover{
	background-image: url(../images/accueil_civilisation/atlanteens.jpg);
}

/* Bloc vert (chinois)  */
#row_chinois{
	background-image: linear-gradient(to top, white, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), 
	url(../images/accueil_civilisation/chinois.jpg);
	transition: 0.25s;
}

#row_chinois:hover{
	background-image: url(../images/accueil_civilisation/chinois.jpg);

}

/* Balises <p> contenant les liens dans les blocs */
.liens_page_civilisations{
	width:100%;
}

/* Texte des liens dans les blocs */
.liens_page_civilisations a{
	font-size:29px;
	color:white;
	font-weight:bold;
}

/*--------------------------------------------------------------- Page maps -------------------------------------*/

#div_maps_globale a {
	color : #272727 !important;
}
/* Ensemble des divs */
#div_maps_globale{
	background-color:whitesmoke;
	margin-bottom:0;
}

/* Div perso de chaque map */
#liste-maps {
	padding-top:3%;
}

/* Div perso de chaque map */
#liste-maps div{
	
}

#btn_maps a{
	margin: 0 3%;
	margin-top: 3%;
	transition: 0.2s;
	background-color: #ffd141;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
}

/* Nom de la map (sous l'image) */
.nom_map{
	font-size:18px;
	/* color:white; */
}

/* Image de la map */
.img_map{
    width:50%;
	/* filter: drop-shadow(3px 3px 5px #212121); */
}

.eachMap {
	/* height: 33%; */
	height: 350px;
	padding-top:3% !important;
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	font-weight:bold;
	padding-top: 16%;
	transition: 0.5s;
	color: black;
}

.eachMap:hover {
	background-color: white;
	box-shadow: 10px 0px 80px -17px rgba(0,0,0,0.15);
}

/* Modal d'une map */
#liste-maps .modal{
	width:25%;
	/* font-size: 15px;	 */
}

/* Nom de la map dans le modal */
.titre_map_modal{
	font-size:24px;
	font-weight:bold;
}

/* Image de la map dans le modal */
.img_map_modal{
	width: 45%;
	filter: drop-shadow(3px 3px 5px #616161);
}

.divBandeauFav {
	width: 40px;
	height: 253px;
	background-color: #ffca28;
	/* opacity: 0.75; */
	right: 86%;
	top: -15%;
	position: absolute;
	transform: rotate(40deg);
	box-shadow: 10px 0px 50px 5px rgba(0, 0, 0, 0.25);
}

#liste-maps a i {
	color: #ffc411;
}

/* Contenu et footer du modal */
#liste-maps .modal .modal-content, #liste-maps .modal .modal-footer{
	margin-top:0;
	font-size: 15px;
	font-weight: 500;
}

/*------------------------------------------------------ Page details civilisation ---------------------------------------------------------*/
/*-------------------------------------- POUR LES 3 ONGLETS ---------------------------------------*/

.titleAge{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0;
	margin: 0 !important;

}
.tabs-content.carousel.carousel-slider .carousel-item.active{
    position:relative;
}

.tabs-content.carousel.carousel-slider{ 
	height : 95% !important;
	
}

.img_onglet{
    width : 50%;
}

.modal {
	padding : 0 20%;
	width: 40% !important;
	font-weight: 500;
	border-radius: 5% !important;
}

/*---------- MODAL DIEUX ------------------*/

.eachSecondaire .modal {
	width: 50% !important;
	height: auto;
	font-weight: 700;
}

.eachSecondaire .modal img {
	width: 20%;
}

.description_dieu {
	font-weight: 500;
}

/*---------- MODAL UNITES ------------------*/

.eachUnit .modal {
	font-family: 'Montserrat', sans-serif;
	width: 40% !important;
	font-weight: 700;
	text-align: center;
}

.eachUnit .modal-content {
	padding-bottom: 0 !important;
}

.img_unit_modal {
	width: 20%;
	margin-top: 10%;
}

.description_dieu {
	font-weight: 500;
}

.description_unit_modal {
	font-weight: 500;
}

#div_couts_unite{
	margin-bottom: 0 !important;
}

/*---------- MODAL BATIMENTS ------------------*/

.eachBatiment .modal {
	font-family: 'Montserrat', sans-serif;
	width: 40% !important;
	font-weight: 700;
	text-align: center;
}

.eachBatiment .modal-content {
	padding-bottom: 0 !important;
}

.tooltipped {
	width: 15% !important;
	padding: 0 1%;
}

.description_batiment {
	font-weight: 500;
}

 #contentDivDetailsCivilisation{
	height : 90%;
	margin-bottom: 0; 
}

#contentDivDetailsCivilisation a {
	color : #272727 !important;
}


/*-------------------------------------- ONGLETS DIEUX ---------------------------------------*/
#allDieux{
	height : 100%;
}

#primaires{
	height : 100%;
	box-shadow: 10px 0px 80px -17px rgba(0,0,0,0.25);
}

#secondaires{
	height : 100%;
	padding: 0;
}
.eachPrimaires{
	height: 33%;
	font-family: 'Montserrat', sans-serif;
	/* color: #272727; */
	font-size:30px;
	font-weight:bold;
	padding-top: 16%;
	background-color: whitesmoke;
	margin-bottom: 0 !important;
	transition: 0.5s;
	color: black;
}



.eachPrimaires:hover{
	cursor: pointer;
	background-color: white;
}

.eachPrimaires p {
	margin-top: 0;
}

#age1, #age2, #age3, #age4 {
	height: 90%;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	/* color: blanchedalmond  !important; */
	text-decoration: none !important;
	padding: 0;
}
#age1 .eachSecondaire {
	height: 100%;
	justify-content: center;
}
.eachSecondaire {
	height: 50%; 
	justify-content: center;
	background-color: none;
	transition: 0.5s;
	border-right:1px solid #e0e0e0;
}

.eachSecondaire:hover {
	background-color: white;
	box-shadow: 10px 0px 80px -17px rgba(0,0,0,0.15);
}

.divNomAge{
	justify-content: center;
	height: 5%;
}


#dieux{
	/* background-image: linear-gradient(#20123a, #2c2059); */
	background-color: whitesmoke;
}

/*-------------------------------------- ONGLETS UNITES ---------------------------------------*/
#unites {
	background-color: whitesmoke;
}

.eachUnit{
	justify-content: center;
	/* padding: 0 !important; */
	transition: 0.5s;
	height: 150px;
	padding-top: 5% !important;
	overflow: hidden;
}

.eachUnit:hover{
	background-color: white;
	box-shadow: 10px 0px 80px -17px rgba(0,0,0,0.15);
	
}

#divUniteAge1, #divUniteAge2, #divUniteAge3, #divUniteAge4{
	padding: 0 !important;
	border-right:1px solid #e0e0e0;
}

/*-------------------------------------- ONGLETS BATIMENTS  ---------------------------------------*/

#batiments {
	background-color: whitesmoke;
}

.eachBatiment{
	justify-content: center;
	/* padding: 0 !important; */
	transition: 0.5s;
	height: 150px;
	padding-top: 5% !important;
	overflow: hidden;
}

.eachBatiment:hover{
	background-color: white;
	box-shadow: 10px 0px 80px -17px rgba(0,0,0,0.15);
}

#divBatimentAge1, #divBatimentAge2, #divBatimentAge3, #divBatimenteAge4{
	padding: 0 !important;
	border-right:1px solid #e0e0e0;
}

